
.App {
  text-align: center;
}

.clr{
  color:white;
}

.spacing{
  margin-top: 10px;
}

.spacing1{
  margin-top: 40px;
}

nav li{
  padding:0 25px;
}

.m-bottom{
  margin-bottom: 50px;
}

.v-align{
  display: flexbox;
  justify-content: center;
}

.pr{
  padding-right: 50px;
}

.thumbnail-image{
  height: 50px;
}

.login-form{
  border:thin black solid;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  height: 100%;
}

.sign-up-form{
  border:thin black solid;
  width: 100%;
  max-width: 700px;
  padding: 15px;
  margin: auto;
  height: 100%;
}


.f-form{
  border:thin black solid;
  width: 100%;
  max-width: 700px;
  padding: 15px;
  margin: auto;
  height: 100%;
}

.img-size{
  object-fit: contain;
  padding-top: 10px;
  padding-bottom: 30px;
  height: 200px;
}