
.App {
  text-align: center;
}

.spacing{
  color:white;
}

nav li{
  padding:0 25px;
}

.top{
  margin-top: 30px;
}

.v-align{
  display: flexbox;
  justify-content: center;
}

.pr{
  padding-right: 50px;
}

.thumbnail-image{
  height: 50px;
}
